@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100dvw;
    height:auto;
    font-family: Arial, Helvetica, sans-serif;
}
/* general styles */
a{
    text-decoration: none;
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.al-c{
    display: flex;
    align-items: center;
}
.jc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rev{
    flex-direction: row-reverse;
}
.shift{
    margin-left: 15%;
}
/* end of general styles */

/* PC styling */
@media only screen and (min-width: 900px){
    header{
        justify-content: space-between;
        height: 9dvh;
        width: 80%;
        margin: 0 10%;
        z-index: 10;
    }
    header>.logo{
        justify-content: space-evenly;
        width: 13%;
        height: 100%;
    }
    header>.logo>.square{
        background-color: rgb(57, 57, 95);
        width: 2.5vw;
        height: 5vh;
        border-radius: 7px;
        box-shadow: -10px -10px 0 0 rgb(173, 216, 230, 0.7), 10px 10px 0 0 rgb(70, 130, 180, 0.2) ;
    }
    header>.logo>h2{
        font-size: 2.6vh;
    }
    header>nav{
        height: 100%;
        width: 50%;
        justify-content: space-evenly;
    }
    header>nav>a{
        color: rgb(225, 225, 225);
        font-weight: 500;
        font-size: 1.5vh;
        font-family: 'Poppins', sans-serif;
    }
    header>nav>#search{
        height: 100%;
        width: 10%;
        font-size: 3vh;
        color: white;
    }
    header>nav>#search>i{
        cursor: pointer;
    }


    main{
        display: flex;
        width: 100%;
        height: 100dvh;
        overflow-x: hidden;
        font-family: 'Poppins', sans-serif;
    }
    main>.text{
        width: 30%;
        height: auto;
        left: 13%;
        align-self: center;
    }
    main>.text>h1{
        width: 100%;
        font-size: 8vh;
        font-weight: 700;
        line-height: 8vh;
    }
    main>.text>p{
        width: 40%;
        margin-top: 2vh;
        font-size: 2vh;
        color: grey;
    }
    main>.canvas{
        width: 55%;
        height: 100%;
        border-radius: 100px;
        right: 0;
        top: -32%;
        transform: rotate(45deg);
        overflow: hidden;
    }
    main>.canvas>img{
        height: 150%;
        width: 200%;
        object-fit:cover;
        object-position: center;
        transform: rotate(-45deg) translateY(-30%);
    }


    #write{
        bottom: 10%;
        left: 13%;
        width: 15%;
        height: 7%;
        border-radius: 50px;
        box-shadow: 0 5px 10px 0 #d2d2d2;
        justify-content: space-between;
    }
    #write>p{
        font-family: 'Poppins', sans-serif;
        margin-left: 15%;
        font-size: 1.8vh;
    }
    #write>button{
        background-color: rgb(57, 57, 95);
        height: 95%;
        width: 24%;
        border-radius: 50%;
        border: none;
        margin-right: 5px;
        color: white;
        font-size: 2vh;
        justify-content: center;
    }

    section{
        width: 100%;
        height: 70dvh;
        display: flex;
        font-family: "Poppins", sans-serif;
    }

    #section1>.side{
        width: 50%;
        height: 100%;
    }

    #section1>.left>.top, #section1>.left>.bottom{
        width: 80%;
        height: 50%;
        margin-left: 20%;
        justify-content: space-evenly;
    }
    #section1>.left>.top>.card{
        width: 45%;
        height: 95%;
        background-color: rgb(57, 57, 95);
        border-radius: 20px;
        overflow: hidden;
        color: white;
        font-size: 2vh;
    }
    #section1>.left>.top>.card>h1{
        position: absolute;
        bottom: 5%;
        left: 10%;
    }
    #section1>.left>.top>.card>img, #section1>.left>.bottom>.card>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    #section1>.left>.bottom>.card{
        width: 95%;
        height: 95%;
        border-radius: 20px;
        overflow: hidden;
    }
    #section1>.right>h1{
        width: 75%;
        font-size: 4vh;
        margin-top: 5%;
        margin-left: 5%;
    }
    #section1>.right>p{
        margin-top: 3%;
        line-height: 3.5vh;
        width: 63%;
        font-size: 2vh;
        color: grey;
        margin-left: 5%;
    }
    #section1 #read{
        bottom: 20%;
        width: 30%;
        height: 10%;
        border-radius: 50px;
        box-shadow: 0 5px 10px 0 #d2d2d2;
        justify-content: space-between;
        margin-left: 5%;
    }
    #section1 #read>p{
        font-family: 'Poppins', sans-serif;
        margin-left: 15%;
        font-size: 1.8vh;
    }
    #section1 #read>button{
        background-color: rgb(57, 57, 95);
        height: 95%;
        width: 24%;
        border-radius: 50%;
        border: none;
        margin-right: 5px;
        color: white;
        font-size: 2vh;
        justify-content: center;
    }

    #section2{
        margin: 7.5% 10%;
        width: 80%;
        justify-content: space-between;
    }
    #section2>.title{
        width: 20%;
        height: 100%;
    }
    #section2>.title>.card{
        width: 100%;
        height: 50%;
        border-radius: 20px;
        background-color: rgb(57, 57, 95);
    }#section2>.title>.card>h1{
        position: absolute;
        bottom: 5%;
        left: 10%;
        font-size: 3vh;
        color: white;
    }
    #section2>.title>.buttons{
        bottom: 0;
        right: 0;
        width: 50%;
        height: 10%;
        justify-content: space-evenly;
    }
    #section2>.title>.buttons>button{
        background-color: white;
        border-radius: 50%;
        width: 45%;
        height: 100%;
        border: none;
        font-size: 2vh;
        color: rgb(57, 57, 95);
        box-shadow: 0 5px 10px 0 #d2d2d2;
        cursor: pointer;
    }
    #section2>.card{
        width: 25%;
        height: 100%;
        border-radius: 20px;
        box-shadow: 0 5px 10px 0 #d2d2d2;
    }
    #section2>.card>.icon{
        background-color: white;
        color: rgb(57, 57, 95);
        font-size: 2.5vh;
        width: 14%;
        height: 7.5%;
        border-radius: 50%;
        right: 5%;
        top: 2.5%;
        box-shadow: 0 5px 10px 0 #d2d2d2;
    }
    #section2>.card>.logo{
        width: 70%;
        height: 10%;
        margin-top: 20%;
    }
    #section2>.card>.logo>img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter:contrast(0);
    }
    #section2>.card>h1{
        margin: 7% 0 0 15%;
        font-size: 2vh;
    }
    #section2>.card>p{
        width: 70%;
        margin: 5% 15% 0 15%;
        font-size: 1.7vh;
        line-height: 3.5vh;
        color: grey;
    }
    #section2>.card>.book{
        bottom: 5%;
        width: 80%;
        height: 10%;
        margin: 0 10%;
        border-radius: 50px;
        justify-content: space-between;
        box-shadow: 0 5px 10px 0 #d2d2d2;
    }
    #section2>.card>.book>p{
        font-family: 'Poppins', sans-serif;
        margin-left: 15%;
        font-size: 1.8vh;
    }
    #section2>.card>.book>button{
        background-color: rgb(57, 57, 95);
        height: 95%;
        width: 22.5%;
        border-radius: 50%;
        border: none;
        margin-right: 5px;
        color: white;
        font-size: 2vh;
        justify-content: center;
    }


    #section3>.side{
        width: 50%;
        height: 100%;
    }
    #section3>.left>.top, #section3>.left>.bottom{
        width: 80%;
        height: 50%;
        margin-right: 20%;
        justify-content: space-evenly;
    }
    #section3>.left>.top>.card{
        width: 45%;
        height: 95%;
        background-color: rgb(57, 57, 95);
        border-radius: 20px;
        overflow: hidden;
        color: white;
        font-size: 2vh;
    }
    #section3>.left>.top>.card>h1{
        position: absolute;
        bottom: 5%;
        left: 10%;
    }
    #section3>.left>.top>.card>img, #section3>.left>.bottom>.card>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    #section3>.left>.bottom>.card{
        width: 95%;
        height: 95%;
        border-radius: 20px;
        overflow: hidden;
    }
    #section3>.right>h1{
        width: 75%;
        font-size: 4vh;
        margin-top: 5%;
        margin-left: 25%;
    }
    #section3>.right>p{
        margin-top: 3%;
        line-height: 3.5vh;
        width: 63%;
        font-size: 2vh;
        color: grey;
        margin-left: 25%;
    }
    #section3 #read{
        bottom: 20%;
        width: 30%;
        height: 10%;
        border-radius: 50px;
        box-shadow: 0 5px 10px 0 #d2d2d2;
        justify-content: space-between;
        margin-left: 25%;
    }
    #section3 #read>p{
        font-family: 'Poppins', sans-serif;
        margin-left: 15%;
        font-size: 1.8vh;
    }
    #section3 #read>button{
        background-color: rgb(57, 57, 95);
        height: 95%;
        width: 24%;
        border-radius: 50%;
        border: none;
        margin-right: 5px;
        color: white;
        font-size: 2vh;
        justify-content: center;
    }
}
/* end of PC styling */

/* mobile styling */
@media only screen and (max-width: 500px){
    body{
        background-color: blueviolet;
    }
}
/* end of mobile styling */

